<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Emula: Windows Server 2012 R2 / IIS 8.5 / .NET Framework 4.0 / CLR v4.0
    Equivalente al pool "WCI HLV / v4.0" del cliente real.
  -->

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" maxRequestLength="4096" />
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
           path="*."
           verb="*"
           type="System.Web.Handlers.TransferRequestHandler"
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <appSettings>
    <!-- URL destino para llamadas HTTP salientes de prueba -->
    <add key="TargetUrl" value="http://httpbin.org/get" />
    <!-- Nombre visible en Instana UI -->
    <add key="AppName"   value="InstanaTestApp-WCI-HLV" />
  </appSettings>

</configuration>
